[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GGClassification"]
	path = GGClassification
	url = https://github.com/cran/GGClassification
